<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>Login Menu</title>
    </head>
    <body>
        <h1>Faca login para entrar</h1>
        <form>
            <p>
                Digite o seu usuario: <input type="text" name="usuario" />
            </p>
            <p>
                Digite a sua senha: <input type="password" name="senha" />
             </p>
            <p>
                <input type = "button" value = "logar" />
            </p>


        </form>
         

     </body> 
</html>