
{% extends "templateInicial.html" %}



{% block 'head' %}
<title>Login Menu</title>
{% endblock 'head' %}
{% block 'body' %}
<h1>Faca login para entrar</h1>
<form>
    <p>
        Digite o seu usuario: <input type="text" name="usuario" value="exemplo" />
    </p>
    <p>
        Digite a sua senha: <input type="password" name="senha" value="senha" />
    </p>
    <p>
        <input 
               type="button" value="LOGIN" onclick="checkAutenticacao"
        />
    </p>
</form>
{% endblock 'body' %}

